<%= turbo_frame_tag comment do %>
  <div class="card w-50 mx-auto border-dark border-1">
    <div class="card-body d-flex justify-content-between">
      <div>
        <div>
          <strong><%= find_username(comment.user_id) %></strong> commented: <%= comment.content %>
        </div>
        <%= turbo_frame_tag "replies_for_comment_#{comment.id}" do %>
          <% unless comment.comments.empty? %>
            <% comment.comments.take(slice ? 3 : comment.comments.size).each do |reply| %>
              <%= turbo_frame_tag "reply_#{reply.id}" do %>
                <div>
                  <%= render "comments/reply", comment: reply %>                 
                </div>
              <% end %>
            <% end %> 
          <% end %>
        <% end %>
        <div>
          <%= turbo_frame_tag "reply_for_comment_#{comment.id}" do %>
          <% end %>
        </div>
      </div>
      <%= render 'comments/comment_dropdown', comment: comment %>
    </div>
    <div class="mt-0 pt-0 d-flex gap-3 ml-3">
      <%= link_to 'Reply', new_comment_comment_path(comment.id),
                          data: {
                            turbo_frame: "reply_for_comment_#{comment.id}"
                          } %>
      <% if comment.comments.count > 3 && 
            (current_page?(dashboard_path) || 
            current_page?(:controller => 'users', :action => 'show'))%>
        <div>
          <%= link_to 'View more', post_path(comment.commentable),
                                  data: {
                                    turbo_frame: '_top'
                                  } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %> 