<%= link_to "Back", :back, class: 'fs-1 link-dark'%>
<div class="d-grid container-fluid">
  <div class="row">
    <div class="col-2">
      <%= render "profile_pic", user: @user, size: [50,50] %>
      <%= render "change_avatar_form", user: @user %>
      <h5 class="mt-0"><%= @user.name %></h5>
      <p><%= @user.email %></p>
      <div>
        <%= @user.followings.count %>
        <%= link_to "Following", following_user_path(@user), class: "link-dark" %> 
        
        <%= @user.followers.count %>
        <%= link_to "Followers", followers_user_path(@user), class: "link-dark" %>
      </div>
      <%= render 'follow_button', user: @user %>
    </div>
    <div class='col-10'>
      <h1 class='text-center'>All of <%= @user.name %>'s recent posts</h1>
      <% @posts.each do |post| %>
        <%= render post, path: post_path(post)  %>
        <%= turbo_frame_tag "comments_for_#{post.id}" do %>
          <% post.comments.each do |comment| %>
            <%= render comment, slice: @comment_slice %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
