<%= link_to "Back", :back, class: 'fs-1'%>
<div class=>
  <img src="" class="flex-shrink-0 me-3" alt="profile-picture">
  <div>
    <h5 class="mt-0"><%= @user.name %></h5>
    <p><%= @user.email %></p>
  </div>
  <% if current_user != @user && !current_user.following?(@user) %>
    <%= render 'follow_form', relationship: current_user.active_relationships.build,
                              user: @user %>
  <% else %>
    <%= render 'unfollow_form', 
                relationship: current_user.active_relationships.find_by(followed_id: @user.id) %>
  <% end %> <br>
  <%= link_to "Following", "#", id: "follow-btn", class: "" %> 
  <%= link_to "Followers", "#", id: "message-btn", class: "" %>
</div>
<h1 class='text-center'>All of <%= @user.name %>'s recent posts</h1>
<% @posts.each do |post| %>
  <%= render post, path: post_path(post)  %>
  <%= turbo_frame_tag "comments_for_#{post.id}" do %>
    <% post.comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  <% end %>
<% end %>
