<div class='mt-3 container-lg'>
  <%= form_with model: post,
                data: { 
                  controller: "reset-form",
                  action: 'turbo:submit-end->reset-form#reset' } do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="border-2 border-black w-50 card p-3 mx-auto">
      <div class='mt-3'>
        <%= form.label :title, 'Post Title' %>
        <%= form.text_field :title, 
                            placeholder: 'What is this post about ?',
                            class:"form-control"%>
      </div>

      <div>
        <%= form.label :body %>
        <%= form.text_area :body, 
                            placeholder: 'My amazing post',
                            class:"form-control"%>
      </div>
      <%= form.file_field :image %>
      <div class="d-flex gap-2">
        <%= form.submit class: "btn btn-sm btn-primary w-50" %>
        <%= link_to "Cancel", dashboard_path, class: "btn btn-sm btn-secondary w-50" %>
      </div>
    </div>
  <% end %>
</div>
