<div class='text-center create-post-container container'>
  <%= form_with model: post, 
                data: { 
                  controller: "reset-form",
                  action: 'turbo:submit-end->reset-form#reset' } do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='create-post-title-container'>
      <%= form.label :title, 'Post Title'%>
      <%= form.text_field :title, 
                          placeholder: 'What is this post about ?'%>
    </div>

    <div class='create-post-body-container'>
      <%= form.label :body %>
      <%= form.text_area :body, 
                          placeholder: 'My amazing post'%>
    </div>
    
    <%= form.submit %>

  <% end %>
</div>
