<%= turbo_frame_tag post do %>
  <div class="card w-25 container post-container mt-3">

    <div class="card-header">
      <%= image_tag post.user.gravatar_url(:size => 30) %>
      <%= link_to post.user.name,
                      user_path(post.user),
                      data: {
                        turbo_frame: "_top"
                      } %> posted 
    </div>

    <div class="card-body">
      <div class="card-title post-title-container">
        <%= post.title %>
      </div>
      <div class="post-body-container">
        <%= post.body %>
      </div>
    </div>
    
    <div id="post-actions" class="card-body">
      <ul id="my-list-group" class="list-group flex-row justify-content-evenly flex-wrap">
        <li class="list-group-item">
          <%= render partial: 'likes/likes', locals: { post: post } %>
        </li>
        <li class="list-group-item">
          <%= link_to "Comment", 
                      path,
                      data: {
                        turbo_frame: "_top"
                      } %>
        </li>
      </ul>
    </div>

      <div class="comment-count"> 
        <%= post.comments.count %> comments
      </div>

      <div>
        <% if current_user == post.user %>
          <%= button_to "Delete",
                        path,
                        method: :delete,
                        class: 'btn btn-outline-danger' %>
        <% end %>
      </div>
  </div>
<% end %>