<%= turbo_frame_tag post do %>
  <div class="card w-25 container-xl mt-3 border-dark border-2">

    <div class="card-header">
      <%= render "users/profile_pic", user: post.user, size: [30,30] %>
      <%= link_to post.user.name,
                      user_path(post.user),
                      data: {
                        turbo_frame: "_top"
                      } %> posted 
    </div>

    <div class="card-body">
      <div class="card-title post-title-container">
        <%= post.title %>
      </div>
      <div>
        <%= post.body %>
      </div>
    </div>
    
    <div id="post-actions" class="card-body">
      <ul id="my-list-group" class="list-group flex-row justify-content-evenly flex-wrap">
        <li class="list-group-item">
          <%= render partial: 'likes/likes', locals: { post: post } %>
        </li>
        <li class="list-group-item">
          <%= link_to "Comment", 
                      path,
                      data: {
                        turbo_frame: "_top"
                      } %>
        </li>
      </ul>
    </div>

      <div class="comment-count"> 
        <%= post.comments.count %> comments
      </div>

      <div>
        <% if current_user == post.user %>
          <%= button_to "Delete",
                        path,
                        method: :delete,
                        class: 'btn btn-outline-danger' %>
        <% end %>
      </div>
  </div>
<% end %>