<h1>Welcome <%= current_user.name %></h1>

<%= turbo_frame_tag Post.new %><br>

<%= turbo_frame_tag "posts" do %>
  <% @posts.each do |post| %>
    <%= render post %>

    <% post.comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  <% end %>
<% end %>
