<!DOCTYPE html>
<html>
  <head>
    <title>FbClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render partial: 'shared/navbar' %>
    <% end %>

    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    
    <%= yield %>
    <footer class="bg-body-tertiary text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <%= link_to "My Social Media Clone", "#", class: "text-body" %>
      </div>
    </footer>
  </body>
</html>
